<%- include ('layouts/header') %>
<h1 class="table">Manage Users</h1>
<a href="/admin/register-retailer" class="border-shadow">
  <span class="text-gradient">New Retailer <i class="fas fa-user"></i></span>
</a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Role</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.address %></td>
      <td><%= user.role %></td>
      <td>
        <a href="/admin/update-user/<%= user.id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
        </a>
          <a href="/admin/delete-user/<%= user.id%>" class="btn border-shadow update">
          <span class="text-gradient" ><i class="fas fa-times" ></i></span>
        </a>
        </form>
      </td>
      
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>