<%- include ('layouts/header') %>
<h1 class="table">Manage Customer</h1>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th>Start Date of Coverage</th>
    <th>Password</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% customers.forEach(customer => { %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><img
        src="/uploads/<%= customer.image %>" width="100" class="img-thumbnail"/>
      </td>
      <td><%= customer.startdate %></td>
      <td><%= customer.password %></td>
      <td>
        <a href="/admin/update-customer/<%= customer.id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
        </a>
          <a href="/admin/delete-customer/<%= customer.id%>" class="btn border-shadow update">
          <span class="text-gradient" ><i class="fas fa-times" ></i></span>
        </a>
        </form>
      </td>
      
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>


