<%- include ('layouts/header') %>
<h1 class="table">Manage Customer</h1>
<a href="/admin/register-customer" class="border-shadow">
  <span class="text-gradient">New Customer<i class="fas fa-customer"></i></span>
</a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Image</th>
    <th>Start Date of Coverage</th>
    <th>Password</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.image %></td>
      <td><%= user.startdate %></td>
      <td><%= user.password %></td>
      <td>
        <a href="/admin/update-customer/<%= user.id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt" aria-hidden="true"></i></span>
        </a>
          <a href="/admin/delete-customer/<%= user.id%>" class="btn border-shadow update">
          <span class="text-gradient" ><i class="fas fa-times" ></i></span>
        </a>
        </form>
      </td>
      
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>


