<%- include ('layouts/header') %>
<h1 class="table">micro Customer</h1>
<a href="/retailer/register-customer" class="border-shadow">
  <span class="text-gradient">New Customer<i class="fas fa-customer"></i></span>
</a>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Brand Name</th>
    <th>Mobile Number</th>
    <th>Gender</th>
    <th>Invoice Price</th>
    <th>Purchase Date</th>
    <th>Vip Number</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% customers.forEach(customer => { %>
    <tr>
      <td><a href="/retailer/customer/<%= customer.id%>"><%= customer.name %></a></td>
      <td><%= customer.email %></td>
      <td><%= customer.brandname %></td>
      <td><%= customer.phone%></td>
      <td><%= customer.gender %></td>
      <td><%= customer.price%></td>
      <td><%= customer.date %></td>
      <td><%= customer.vipnumber %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>


