<%- include('./layouts/header') %>

<h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>

<div class="profile">
  <div>
    <p class="title">Name</p>
    <p class="subtitle"><%= person.name %></p>
  </div>
  <div>
    <p class="title">Email</p>
    <form
          action="/user/update-email"
          method="post"
          class="manage-user-form"
        >
          <input type="hidden" name="id" value="<%= person.id %>" />
          <input type="text" name="email" value="<%= person.email %>" />
          <input type="submit" value="update">
        </form>
  <div>
  </div>
  <div>
    <p class="title">Photo of Receipt</p>
    <td><img
      src="/uploads/<%= person.image %>" width="200" class="img-thumbnail" />
    </td>
  </div>
  <div>
    <p class="title">Start Date of Coverage</p>
    <pre class="subtitle"><%= person.startdate %></pre>
  </div>
</div>
<%- include('./layouts/footer') %>