<%- include('./layouts/header') %>

<h1 class="title">Welcome to Watch Shop</h1>


<h1>Serial Number verification</h1>
<form action="/watchdata" method="post" class="lg-form">
  <div>
    <label for="serialnumber">Serial Number</label>
    <input type="serialnumber" name="serialnumber" id="serialnumber" />
  </div>
  <div>
    <input type="submit" value="Check" />
  </div>
</form>
<section class="table__body">
  <table>
      <thead >
        <tr>
            <th>Quantity</th>
            <th>Account Number</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= watchaccount.data.quantityQNT %></td>
            <td><%= watchaccount.data.numberOfAccounts %></td>
            <td><%= watchaccount.data.description %></td>
          </tr>
        </tbody>
    </table>
  </section>

<%- include('./layouts/footer') %>